<footer class="footer-distributed">         
        <div class="footer-left">
            <h3>The <span>Boss</span> Domain</h3>
            <p class="footer-links">
                <a routerLink="/home" class="nav-link">
                    Home
                </a>
                <a routerLink="/about" class="nav-link">
                    About
                </a>
                <a routerLink="/contact" class="nav-link">
                    Contact Us
                </a>
                <a routerLink="/faq" class="nav-link">
                    FAQ
                </a>
            </p>
            <p className="footer-company-name"> &copy; 2023 TheBossDomain. All rights reserved.</p>
        </div>
        <div className="footer-center">
            <div>
                <i className="fa fa-map-marker"></i>
                <p><span>444 S. Cedros Ave</span> Kabati, Kitui</p>
            </div>
            <div>
                <i className="fa fa-phone"></i>
                <p>+25471234567</p>
            </div>
            <div>
                <i className="fa fa-envelope"></i>
                <p><a href="mailto:support@ignitionrentals.com">support@bossdomain.com</a></p>
            </div>
        </div>
      
</footer>