<nav class="navbar" fixed="top">
    <div class="container">
      <a routerLink="/" class="logotxt">
        <span class='logotxt'>
          The <span class="logospn"> Boss</span> Domain
        </span>
      </a>
        <ul>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/shop" class="nav-link">
              Shop
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/checkout" class="nav-link">
              Cart
            </a>
          </li>
        </ul>
      </div>
</nav>
  