@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');


.navbar {
  width: 100%;
  transition: background-color 0.3s, backdrop-filter 0.3s;
  backdrop-filter: blur(5px);
  background-color: rgba(192, 8, 8, 0.8);
  padding: 0.1rem 1rem !important;
  font-size: 1.2rem !important;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75) !important;

}

.navbar.blur {
  backdrop-filter: blur(10px);
}

.fixed-top {
  position: fixed;
  top: 0;

}

.navbar-brand {
  color:  rgb(1, 106, 10) !important;
  font-size: 2.7rem;
  margin-top: 0.9rem;
  font-weight: 550;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
  }
  .logotxt{
    font-size: 1.8rem !important;

  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .logotxt{
    font-size: 1.7rem !important;

  }  
}


.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background:   rgb(15, 95, 1);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  padding: 0 100px;
}

.navbar ul li {
  display: inline-flex;
  padding: 28px 30px;
  padding-top: 10px;
  margin-top: 0;
  height: 2rem; 
}


.navbar ul li a {
  color: black;
  text-decoration: none;
}

.logotxt {
  font-size: 50px;
  font-weight: 450;  
  font-family: 'Delius Swash Caps', cursive;
  color: black;
  text-decoration: none;
}

.logospn {
  color:mediumvioletred;
}